@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Playwrite+GB+S:ital@1&display=swap');

/* Style the element with the id "Header" */
#Header {
  background-color: rgb(254, 161, 189);
  color: black;
  padding: 40px;
  text-align: center;
}

/* Style all elements with the class name "List" */
#List {
  background-color: rgb(255, 71, 71);
  width: 80%;
  text-align: center;
  color: white;
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
} 
#List a {
    color: white;
    text-decoration: none;
}

h3 {
   font-size: 25px;
   font-family: "Playwrite GB S", cursive;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: italic;
}

body {
 background-color: antiquewhite;
 background-image: url("../pink\ aura\ star\ laptop\ wallpaper\ ˚₊‧꒰ა\ ☆\ ໒꒱\ ‧₊˚.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 
  "wdth" 100;
}

p {
  font-size: 20px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
  "wdth" 75;
}

header {
  font-size: large;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: 
  "wdth" 100;
}
